@page "/avisolegal"

@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager
<PageTitle>Aviso legal</PageTitle>
<h3>Avisolegal</h3>

<h4>Política de privacidad</h4>

<p>A través de este sitio web no se recaban datos de carácter personal de las personas usuarias sin su conocimiento, ni se ceden a terceros.</p>
<p>Los datos que en esta web se recogen son usados sólo con la finalidad de mostrar métricas y estadísticas en la propia apliación de forma anónima.</p>
<p>Únicamente se utilizan cookies propias, de sesión, con finalidad técnica (aquellas que permiten la navegación a través del sitio web y la utilización de las diferentes opciones y servicios que en ella existen).</p>

<h4>Aviso legal</h4>
<p>Este portal, cuyo titular es Amin Mustafa, está constituido solo por el contenido del dominio: juspharm.azurewebsites.net</p>

<p>Propiedad intelectual e industrial: El diseño del portal y sus códigos fuente, así como los logos, marcas y demás signos distintivos que aparecen en el mismo pertenecen al titular y están protegidos por los correspondientes derechos de propiedad intelectual e industrial.</p>
<p>Responsabilidad de los contenidos: El titular no se hace responsable de la legalidad de otros sitios web de terceros desde los que pueda accederse al portal. Tampoco responde por la legalidad de otros sitios web de terceros, que pudieran estar vinculados o enlazados desde este portal.</p>
<p>Reproducción de contenidos: Se prohíbe la reproducción total o parcial de los contenidos publicados en el portal.</p>
<p>Ley aplicable: La ley aplicable en caso de disputa o conflicto de interpretación de los términos que conforman este aviso legal, así como cualquier cuestión relacionada con los servicios del presente portal, será la ley española.</p>
