@using Syncfusion.Blazor.Notifications
<div class="col-lg-12 control-section msg-default-section">
    <div class="content-section">
        <SfMessage Severity="MessageSeverity.Warning">Esta página se encuentra en mantenimiento/desarrollo.</SfMessage>
    </div>
</div>
<style>
   .msg-default-section .content-section {
        margin: 0 auto;
        max-width: 520px;
        padding-top: 10px;
        font-size: 24px;
    }
    .msg-default-section .e-message {
        margin: 10px 0;
        font-size: 24px;
    }   
</style