@using Justpharm.Library.Models.Medical
@using Justpharm.Web.Services
@using Syncfusion.Blazor.DropDowns
@inject IJSRuntime JSRuntime


<div class="container buscador" style="background-color:white;padding-top:30px">
    <BuscadorFarmacos></BuscadorFarmacos>
</div>

<BaseComponent @ref="Globals"></BaseComponent>
@code {
    public CimaResponse FarmacoSelected { get; set; }
    public List<CimaResponse> Medicamentos { get; set; }
    BaseComponent Globals;

    private string directLineToken = "BpCN2CJhQ3s.VJnobIKAeHiPYV92TulahSrOk_BhmK5zdU0DhN4yd7c";



}
<style>
    .rounded-corner {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        overflow: hidden;
        width: 100%;
    }

        .rounded-corner:hover {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        }

    /* Estilo para el input tipo buscador similar al de Google */
    .buscador {
        padding: 10px 30px 10px 10px !important; /* Ajusta el padding según necesidad */
        border: 1px solid #ccc !important; /* Borde del input */
        border-radius: 20px !important; /* Bordes redondeados */
        box-sizing: border-box !important; /* Incluye el padding y el borde en el ancho total */
        outline: none !important; /* Quita el contorno al hacer clic en el input */
    }

    .e-ddl.e-input-group .e-input-value, .e-ddl.e-input-group .e-input-value:focus {
        font-family: inherit;
        font-size: 14px;
        height: auto;
        margin: 0;
        outline: none;
        width: 100%;
        padding-top: 7px;
    }
</style>