@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Justpharm | Datos personales</PageTitle>

<StatusMessage />
<h3>Datos personales</h3>

<div class="row">
    <div class="col-md-6">
@*         <p>Tu cuenta contiene datos personales que nos has proporcionado. Esta página te permite descargar o eliminar esos datos.</p> *@
        <p>
            <strong>Eliminar estos datos eliminará permanentemente tu cuenta y no se podrá recuperar.</strong>
        </p>
        <div class="col">
@*         <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <button class="btn btn-primary" type="submit">Descargar</button>
        </form> *@
        <p>
            <a href="Account/Manage/DeletePersonalData" class="btn btn-danger">Eliminar</a>
        </p>
        </div>
    </div>
</div>


@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
